#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1rem;
  background: white;
  color: black;
  text-align: left;
}

.card-list-item > input {
  background-color: white;
  color: black;
  padding-left: 4px;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title > button {
  background-color: white;
  color: red;
  padding: 0;
  margin: 0;
  border: none;
}

.card-title > button:hover {
  text-decoration: underline;
}

.card-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
